<div class="container">
  <h1>Here are all your bookings:</h1>
  <!-this is for someone who wants to rent out their car->
  <li>
   <% @bookings.each do |booking| %>
    <ul>
    <%= booking.user_id %>
    </ul>
  <% end %>
  </li>
</div>
