<div class="banner">
  <div class="banner-content">
    <h1>Cars space</h1>
    <p> <span id="banner-typed-text"></span></p>
    <a href="/cars" class="btn btn-primary btn-lg">Let's go</a>
  </div>
</div>
