<div class="banner">
  <div class="banner-content">
    <h1>Cars Space</h1>
    <p> <span id="banner-typed-text"></span></p>
    <a href="/cars" class="btn btn-primary btn-lg">Drive A Car</a>
    <a href="/cars/new" class="btn btn-primary btn-lg">Lease Your Car</a>
  </div>
</div>
