<div class="banner">
  <div class="banner-content">
    <h1>Cars space</h1>
    <p> <span id="banner-typed-text"></span></p>
    <a href="/cars" class="btn btn-primary btn-lg">Drive a different car today</a>
    <a href="/cars/new" class="btn btn-primary btn-lg">Rent out your car</a>
  </div>
</div>
