.booking-tool {
  display: flex;
  justify: right;
  margin-left: auto;
  width: 300px;
}
.booking-tool p{
  font-style: italic;
  color: #21381a;
  font-size: 22px;
}

.options {
  display: flex;
  justify: right;
  margin-left: auto;
}
