
.where-text-field {
  color: black;
  margin-bottom: 15px;
}
.card {
  margin: 0px 0 10px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  padding: 5px 5px;
}

.card-image {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 8px;
  }
.card-description {
  word-wrap: break-word;
  margin: 5px 0 5px 0;
  p {
    margin: 4px 0 4px 0 !important;
    font-size: 16px;
  }
}
.card-user {
  display: flex;
  justify-content: flex-start;
}
.card-user-image {
  width: 40px;
  border-radius: 50%;
}
.card-user-description {
  text-align: center;
  margin-left: 17px;
  padding-top: 5px;
}
.card-category {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
  // this is for update
.car-make {
  margin: 0%;
  font-size: 16px;
  font-weight: bold;
}
