.mapboxgl-popup {
    max-width: 200px;
}
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
  
#map {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.1);
  margin: 50px;
}
