.book-btn {
  background-color: #85b8e2;
  padding: 18px 72px 18px;
  color: white;
  box-shadow: 1px 1px;
  font-weight: lighter;
  font-size: 22px;
}

.book-btn:hover {
  color: #d19e9e;
  background-color: #b6e0ef;
  text-decoration: none;
}
